**/*.egg-info/**
**/__pycache__/**
**/BCQ/**/*.npy
**/BCQ/**/*.pt
**/BCQ/**/*.pth
**/BCQ/**/*.png
**/OurCode/**/*.npy
**/OurCode/**/*.pt
**/OurCode/**/*.png
**/MUJOCO_LOG.TXT
DataShared/Hopper-v2/buffer_td3.npy
DataShared/Reacher-v2/buffer_td3.npy


